//rem pixels

html{
    font-size:62.5%;
}

body{
    background:#333745;
    font-family:helvetica,Arial, sans-serif;
    //font-size:$m-size;
}
button{
    cursor:pointer;

}
button:disabled{
    cursor:default;
}
.is-active{
    font-weight:bold;
}
//1 rem=16pixels

